/* Estilo del cuerpo */
body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-image: url('https://th.bing.com/th/id/OIP.SG8Re1bPrvcMgeifcKpWHgHaEM?w=305&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7');
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {

    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container i {
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #00f50c;
}
h2{
    color: cyan;
}

.input-group {
    position: relative;
    margin-bottom: 1.2rem;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #330808;
}

input[type="text"],
input[type="password"], 
input[type="number"] {
    width: 40%;
    padding: 0.8rem 0.8rem 0.8rem 35px;
    margin-bottom: 1.2rem;
    border: none;
    border-bottom: 2px solid #5e9c0c;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

button {
    width: 180px;
    height: 40px;
    padding: 0.8rem;
    background-image: linear-gradient(to right, #1d0ea3, #03be51);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6afc7b;
}

.register-link {
    margin-top: 1rem;
    display: block;
    color: #20a2d6;
    text-decoration: none;
}

a {
    margin-top: 1rem;
    display: block;
    color: #d62c20;
    text-decoration: none;
   
}

.register-link:hover {
    text-decoration: underline;
}

p {
    color: #a7a6a8;
}
